
@font-face {
  font-family: 'pkmn_rbygscregular';
  src: url('pkmn_rbygsc-webfont.woff2') format('woff2'),
       url('pkmn_rbygsc-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

p{  font-family: 'pkmn_rbygscregular';
}

html,
body,
#game-container {
  margin: 0;
  padding: 0;
}

/* #game-container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

#game-container>canvas {
  border-radius: 5px;
}

#game-container {
  overflow: hidden;
}

h1 {
  font-family: 'pkmn_rbygscregular';
}

.textbox {
  width: 800px;
  height: auto;
  margin-top: -27px;
  image-rendering: pixelated;
  z-index: 4;
}

.battleScreen {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: auto;
  overflow: hidden;
}

.insideTextBox {
  position: absolute;
  display: flex;
  bottom: 20px;
  left: 40px;
  height: 110px;
  width: 690px;
  z-index: 5;
  font-family: 'pkmn_rbygscregular';
  font-size: 24px;
}

#myPokemonImg {
  position: absolute;
  height: auto;
  width: 400px;
  image-rendering: pixelated;
  left: 25px;
  top: 145px;
  z-index: 3;
  transition: left 0.3s;
}

#oppPokemonImg {
  position: absolute;
  height: auto;
  width: 250px;
  image-rendering: pixelated;
  left: 505px;
  top: 80px;
  z-index: 1;
  transition: left 0.3s;
}

.myHealth {
  position: absolute;
  height: 152px;
  image-rendering: pixelated;
  top: 300px;
  left: 370px;
  z-index: 4;
}

.oppHealth {
  position: absolute;
  height: 120px;
  image-rendering: pixelated;
  top: 20px;
  left: 20px;
  z-index: 4;
}

#game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#centering {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.battleScreen {
  position: relative;
}

.fightButtons button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-family: 'pkmn_rbygscregular';
}

.fightButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
  flex-wrap: wrap;
}

.myPkmnName, .oppPkmnName {
  font-size: 28px;
  font-family: 'pkmn_rbygscregular';
  position: absolute;
  z-index: 5;
}

.oppPkmnName {
  top: 43px;
  left: 43px;
}

.myPkmnName {
  top: 323px;
  left: 430px;
}

#oppHealthBar, #myHealthBar {
  background-color: green;
  width: 200px;
  height: 17px;
  transition: width 0.5s;
  z-index: 2;
}

#myHealthBar {
  position: absolute;
  top: 368px;
  left: 565px;
}

#oppHealthBar {
  position: absolute;
  top: 88px;
  left: 180px;
}

.oppHealthBarBacking, .myHealthBarBacking {
  background-color: rgb(164, 158, 123);
  width: 200px;
  height: 17px;
  z-index: 1;
}

.oppHealthBarBacking{
  position: absolute;
  top: 88px;
  left: 180px;
}

.myHealthBarBacking{
  position: absolute;
  top: 368px;
  left: 565px;
}

.fightQuestion {
  border-right: 2px dotted black;
  margin-top: -10px;
}

.fightQuestion p {
  padding: 5px;
  margin-top:20px;
  padding-left: 20px;
  width: 300px
}

.myHP {
  position: absolute;
  font-family: 'pkmn_rbygscregular';
  font-size: 22px;
  top: 395px;
  right: 40px;
  z-index: 6;
}

#orb {
  height: 90px;
  width: 90px;
  position: absolute;
  top: 300px;
  left: 200px;
  transition: left 0.5s, top 0.5s;
  visibility: hidden;
  z-index: 2;
}

#ball {
  height: 90px;
  width: 90px;
  position: absolute;
  top: 130px;
  left: 570px;
  transition: left 0.5s, top 0.5s;
  visibility: hidden;
  z-index: 2;
}

#myShield {
  image-rendering: pixelated;
  position: absolute;
  height: 300px;
  width: 300px;
  top: 160px;
  left: 70px;
  z-index: 3;
  visibility: hidden;
}

#oppShield {
  image-rendering: pixelated;
  position: absolute;
  height: 200px;
  width: 200px;
  top: 80px;
  left: 525px;
  visibility: hidden;
  z-index: 4;
}

#myGrowl, #oppGrowl {
  image-rendering: pixelated;
  position: absolute;
  visibility: hidden;
}

#myGrowl {
  height: 250px;
  width: 250px;
  top: 160px;
  left: 130px;
}

#oppGrowl {
  height: 150px;
  width: 150px;
  top: 90px;
  left: 530px;
  z-index: 3;
}

/* search bar css */
.main {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

h1 {
  margin: 10px;
  font-size: 40px;
  color: rgb(1, 1, 59);
}

.search {
  width: 500px;
  font-family: 'pkmn_rbygscregular';
  background: rgb(255, 247, 213);
  align-self: flex-end;
  margin: 30px;
}

.searchConfirm {
 display: flex;
 flex-direction: column;
 align-self: flex-end;
}

.confirmButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.confirmButtons button:active {
  transform:scale(0.95)
}

.select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 30px;
}

.selectTeam {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 360px;
  height: 240px;
  margin-left: 150px;
  border: 5px solid #FFCB05;
  border-radius: 30px;
  background: rgb(255, 247, 213);
}

.selectTeam img {
  height: 120px;
  width: 120px;
}

.confirmButtons button {
  font-family: 'pkmn_rbygscregular';
  width: 200px;
  padding: 10px;
 }

ul li {
  font-size: 20px;
} 

.poke-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pokemon:active {
  transform: scale(0.9);
}

.pokemon{
  width:150px;
  /* border-style:solid;
  border-width: 1px;
  border-color: black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.less-wide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1400px;
  border: 10px solid #FFCB05;
  background: rgb(251, 232, 155);
  border-radius: 50px;
  width: 1200px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectionGrid {
  display: flex;
  flex-direction: row
}

#whole-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #3466AF;
}

.stats {
  position: absolute;
  margin-top: -150px;
  margin-left: 90px;
  font-size: 14px;
  background: rgb(255, 247, 213, 0.8);
 padding: 5px;
 border-radius: 20px;
 width: 150px; 
 color:#1e3b67
}

.gameBorder {
  border: 10px solid #FFCB05;
  background: rgb(251, 232, 155);
  border-radius: 50px;
  width: 1200px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 50px;
  padding-top: 50px;
}

footer {
  color: white;
  margin: 20px;
}

.battery {
  position: absolute;
  top: 250px;
  left: 50px;
}

.batteryLight {
  height: 20px;
  width: 20px;
  background-color: rgb(113, 223, 3);
  border-radius: 50%;
  margin-left: 20px;
  filter: drop-shadow(0px 0px 8px chartreuse)
}

.battery p{
  font-size: 18px;
  color:#1e3b67;
}

.pokeballDiv {
  position: absolute;
  height: 600px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pokeball {
  position: absolute;
  width: 1800px;
  height: 1800px;
  z-index: 8;
  transition: width 2s, height 2s;
  image-rendering: pixelated;
}

.types{
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
}
.startScreen {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #f8f8f0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.startScreen {
  cursor: pointer;
}

.pressStart {
  font-size: 40px;
}

.chat {
  align-self: center;
}
#throwBall {
  position:absolute;
  z-index: 7;
  height: 0px;
  width: 0px;
  transition: width 1s,height 1s;
}

.victoryCarpark {
  height: 600px;
  width: 800px;
}

.fameImg {
  height: 250px;
  width: auto;
  image-rendering: pixelated;
}

.fame {
  width: 800px;
  display: flex;
  position: absolute;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.fameBox {
  text-align: center;
  background-color: rgba(245, 245, 245, 0.295)
}

.hallText{
  color: white;
  font-size: 30px;
}

#victoryPage {
  display: none;
}