html,
body,
#game-container {
  margin: 0;
  padding: 0;
}

#game-container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-container>canvas {
  border-radius: 5px;
}

.textbox {
  width: 999px;
  height: auto;
  margin-top: -100px;
  image-rendering: pixelated
}

.battleScreen {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: auto;
}

.insideTextBox {
  margin-top: -100px;
  margin-left: 30px;
}